<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/faviarbol.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Roma Didáctico</title>
</head>
<body>
<header>
    <div id="top">
        <img class="logo" src="../assets/img/logoarbol.png" alt="logo">
        <h1 class="titulo">ROMA DIDÁCTICO</h1>
    </div>
    <nav class="navegador">
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio</a></li>
            <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
            <li class="item"><a href="../views/servicios.html">Servicios</a></li>
            <li class="item"><a href="../views/contactos.html">Contactos</a></li>
            <li class="item"><a href="../views/productos.html">Productos</a></li>
        </ul>
    </nav>
</header>
<!--inicio main-->
<main>
    
    <div class="divform">
        <form class="form1" action="ejemplo.php" method="get">
            <p>Nombre: <input type="text" name="nombre" size="40"></p>
            <p>Apellido: <input type="text" name="apellido" size="40"></p>
            <p>Dirección de Email: <input type="email" name="email" size="40"></p>
            <p>Año de nacimiento: <input type="number" name="nacido" min="1900"></p>
            <p>Sexo:
            <input type="radio" name="hm" value="h"> Hombre
            <input type="radio" name="hm" value="m"> Mujer
            </p>
            <p>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            </p>
        </form>
    </div>  
    <div class="mapaGoog">
        <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6043.134844314299!2d-73.9651616822789!3d40.77153806860882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses!2sar!4v1664378030242!5m2!1ses!2sar" width="100%" height="300px"style= "border: #fa6e85 solid 5px; border-radius: 15px ;margin-top:20px;"allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
<main>
<!--inicio footer-->

<footer>    
    <hr class="linea">
    <div class="iconosredes">
        <h3 class="hfoot">Nuestras Redes Sociales</h3>
        <a href="https://www.facebook.com/" target="_blank"><img class="fbline icon" src="../assets/img/facebook.png" alt="Nuestro Facebook" width="40px" height="40px"></a>
        <a href="https://www.instagram.com/" target="_blank"><img class="instagram icon" src="../assets/img/instagram.png" alt="Nuestro Instagram" width="40px" height="40px"></a>
        <a href="https://www.whatsapp.com" target="_blank"><img class="whats icon" src="../assets/img/whatsapp.png" alt="Nuestro Whatsapp" width="40px" height="40px"></a>
            
    </div>
        
    <a href="#top">
        <h3>Ir al Top</h3>
    </a>
</footer>
</body>
</html>