<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Roma Didáctico</title>
</head>
<body>
<header class="navBack">
    <div id="top">
        <img class="logo" src="../assets/img/origami.png" alt="logo">
    </div>
    <div class="titulo">
        <h1>ROMA DIDÁCTICO</h1>
    </div>
    <nav class="navegador">
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio</a></li>
            <li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
            <li class="item"><a href="../views/servicios.html">Servicios</a></li>
            <li class="item"><a href="../views/contactos.html">Contactos</a></li>
            <li class="item"><a href="../views/productos.html">Productos</a></li>
        </ul>
    </nav>
</header>
    <div class="search">
        <input type="text" name="search" placeholder="Buscar aquí" class="src" autocomplete="off">
    </div>
<main class="main-nosotros"> 
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="../assets/img/carrouselDormitorio1.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio2.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio3.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio4.webp"></figure>
            <figure><img src="../assets/img/carrouselDormitorio5.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio6.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio7.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio8.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio9.jpg"></figure>
            <figure><img src="../assets/img/carrouselDormitorio10.webp"></figure>
        </div>

    </div>
    <div class="section3">
        <div class="nosotros__video">
        <iframe width="560" height="330" src="https://www.youtube.com/embed/ik7eckAAhCU" title="YouTube video player" frameborder="50px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="p__vid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptates voluptatum dolore temporibus rem, aut autem asperiores accusamus fuga saepe, dolor sunt eius culpa iusto. Ipsum cum nam eaque maiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam quibusdam illo deserunt cumque expedita, esse pariatur sunt voluptates, ipsam in eius ad aspernatur, quisquam necessitatibus quo eligendi consequuntur quos ducimus.</p>
        </div>
    </div> 
    

    
    

</main>    
<footer>
    
    <hr class="linea">
    
	<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, cupiditate cumque. Harum quo beatae fugiat facere id commodi omnis, <br> earum aliquid quisquam consequatur quis nemo deleniti quas totam voluptates! </h5>
	<a href="#top">
		<h3>Ir al Top</h3>
	</a>
</footer>
</body>
</html>