<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Roma Didáctico</title>
</head>
<body>
	<!--inicio header-->
<header class="navBack">
	<div id="top">
		<img class="logo" src="../assets/img/origami.png" alt="logo">
	</div>
	<div class="titulo">
		<h1>ROMA DIDÁCTICO</h1>
	</div>	
	<!--inicio navegador-->
	<nav class="navegador">
		<ul class="menu">
			<li class="item"><a href="../index.html">Inicio</a></li>
			<li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
			<li class="item"><a href="../views/servicios.html">Servicios</a></li>
			<li class="item"><a href="../views/contactos.html">Contactos</a></li>
			<li class="item"><a href="../views/productos.html">Productos</a></li>
		</ul> 
	</nav>
</header>
	
<main>
	<h2>Servicios</h2>
</main>
	<!--inicio footer-->
<footer>
    
    <hr class="linea">
    <div class="iconosredes">
        <h3 class="hfoot">Nuestras Redes Sociales</h3>
        <a href="https://www.facebook.com/profile.php?id=100065586399068" target="_blank"><img class="instagram icon" src="../assets/img/facebook.png" alt="Nuestro Facebook" width="50px" height="50px"></a>
        <a href="https://www.instagram.com/net.gamer.rg" target="_blank"><img class="fbline icon" src="../assets/img/instagram.png" alt="Nuestro Instagram" width="50px" height="50px"></a>
        <img class="whats icon" src="../assets/img/whatsapp.png" alt="Whatsapp" width="50px" height="50px">
        
    </div>
	
	<a href="#top">
		<h3>Ir al Top</h3>
	</a>
</footer>
</body>
</html>