<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Roma Didácticos te brinda toda la información sobre el Método Montessori y te enseña el contenido que lo conforma">
    <meta name="keywords" content="Didáctico , Roma , Juegos , Crianza , Niños ">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">	
    <link rel="icon" href="../assets/img/faviarbol.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Roma Didáctico | Aprender jugando</title>
</head>
<body>
	<!--inicio header-->
<header>
	<div id="top">
		<img class="logo" src="../assets/img/logoarbol.png" alt="logo">
		<h1 class="titulo">ROMA DIDÁCTICO</h1>
	</div>	
	<!--inicio navegador-->
	<nav class="navegador">
		<ul class="menu">
			<li class="item"><a href="../index.html">Inicio</a></li>
			<li class="item"><a href="../views/nosotros.html">Nosotros</a></li>
			<li class="item"><a href="../views/servicios.html">Servicios</a></li>
			<li class="item"><a href="../views/contactos.html">Contactos</a></li>
			<li class="item"><a href="../views/productos.html">Productos</a></li>
		</ul> 
	</nav>
</header>
	<!--inicio main-->
<main>
	<h3 class="p-center">Servicios</h3>
	<div class="info_servicios">
		<img  class="img_ase" src="../assets/img/asesoriagif.webp" alt="asesoramiento">
		<div class="asesora">
			<h3>Te asesoramos:</h3>
			<p>Si tu idea es abrir un jardín que se dedíque a ejercer el método Montessori podemos ayudarte, con nuestros especialistas, podemos darte todas las herramientas para que tu personal esté capacitado y asi brindar el mejor de los sevicios a los niños que asistan a tu lugar. Y así ganarás prestigio a nivel nacional, generando una demanda superior dentro de las instituciones educativas.
		</p>
		</div>
	</div>
	<div class="info_constru">
		<img class="img_const" src="../assets/img/trabajando.webp" alt="construcción">
		<div class="construye">
		<h3>Contruimos a tu medida:</h3>
		<p>Nuestro servicio de construcción a medida , ayuda a planificar el mobiliario de tu institución , de tal forma que aproveches al máximo los mts disponibles de cada ambiente. Haciendo más fluida la circulación de todas las personas, y placentero el tiempo que habíten el mísmo. Con productos construidos artesanalmente y detalles que harán resaltar cada mueble. generando una armonía total. </p>
		</div>
	</div>
</main>
	<!--inicio footer-->
<footer>
    
    <hr class="linea">
    <div class="iconosredes">
        <h3 class="hfoot">Nuestras Redes Sociales</h3>
        <a href="https://www.facebook.com/" target="_blank"><img class="fbline icon" src="../assets/img/facebook.png" alt="Nuestro Facebook" width="40px" height="40px"></a>
        <a href="https://www.instagram.com/" target="_blank"><img class="instagram icon" src="../assets/img/instagram.png" alt="Nuestro Instagram" width="40px" height="40px"></a>
        <a href="https://www.whatsapp.com/" target="_blank"><img class="whats icon" src="../assets/img/whatsapp.png" alt="Whatsapp" width="40px" height="40px"></a>
        
    </div>
	
	<a href="#top">
		<h3>Ir al Top</h3>
	</a>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>